{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>{{ 'welcome' | trans({'name': 'Machin'}) }}</h1>
    <p>
        {{ 'home_recipe_count' | trans({count: 100}) }}
    </p>
{% endblock %}
