{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi tempora tempore aut eos quibusdam ipsam debitis maxime veniam doloribus suscipit? Ullam rem cumque animi quia vel modi iusto eveniet qui.
    </p>
    <ul>
        <li>
            <a href="{{ path('recipe.show', {id: 32, slug: "pate-bolognaise"}) }}">Pâtes Bolognaises</a>
        </li>
    </ul>
{% endblock %}
